#Created by Constraints Editor (xc6slx9-tqg144-3) - 2012/11/05
NET "clk" TNM_NET = clk;
TIMESPEC TS_clk = PERIOD "clk" 50 MHz HIGH 50%;

# PlanAhead Generated physical constraints 
NET "clk" LOC = P56;
NET "rst_n" LOC = P38;

#NET "cclk" LOC = P70 | IOSTANDARD = LVTTL;

NET "led<0>" LOC = P134;
NET "led<1>" LOC = P133;
NET "led<2>" LOC = P132;
NET "led<3>" LOC = P131;
NET "led<4>" LOC = P127;
NET "led<5>" LOC = P126;
NET "led<6>" LOC = P124;
NET "led<7>" LOC = P123;

#NET "spi_mosi" LOC = P44 | IOSTANDARD = LVTTL;
#NET "spi_miso" LOC = P45 | IOSTANDARD = LVTTL;
#NET "spi_ss" LOC = P48 | IOSTANDARD = LVTTL;
#NET "spi_sck" LOC = P43 | IOSTANDARD = LVTTL;
#NET "spi_channel<0>" LOC = P46 | IOSTANDARD = LVTTL;
#NET "spi_channel<1>" LOC = P61 | IOSTANDARD = LVTTL;
#NET "spi_channel<2>" LOC = P62 | IOSTANDARD = LVTTL;
#NET "spi_channel<3>" LOC = P65 | IOSTANDARD = LVTTL;

#NET "avr_tx" LOC = P55 | IOSTANDARD = LVTTL;
#NET "avr_rx" LOC = P59 | IOSTANDARD = LVTTL;
#NET "avr_rx_busy" LOC = P39 | IOSTANDARD = LVTTL;

NET "vga_g" 		LOC = P78;
NET "vga_hs" 		LOC = P66;
NET "vga_vs" 		LOC = P74;

NET "shift_data_in" LOC = P138;
NET "shift_exec" 	LOC = P144;
NET "shift_write" 	LOC = P2;
NET "shift_clock" 	LOC = P51;

NET "vram_cs_n" 	LOC = P79; #P7;
NET "vram_oe_n" 	LOC = P75; #P9;
NET "vram_we_n" 	LOC = P67; #P11;

NET "vram_addr<0>" 	LOC = P80;
NET "vram_addr<1>" 	LOC = P81;
NET "vram_addr<2>" 	LOC = P82;
NET "vram_addr<3>" 	LOC = P83;
NET "vram_addr<4>" 	LOC = P84;
NET "vram_addr<5>" 	LOC = P85;
NET "vram_addr<6>" 	LOC = P87;
NET "vram_addr<7>" 	LOC = P88;
NET "vram_addr<8>" 	LOC = P92;
NET "vram_addr<9>" 	LOC = P93;
NET "vram_addr<10>"	LOC = P94;
NET "vram_addr<11>"	LOC = P95;
NET "vram_addr<12>"	LOC = P97;
NET "vram_addr<13>"	LOC = P98;
NET "vram_addr<14>"	LOC = P99;

NET "vram_data<0>" 	LOC = P114;
NET "vram_data<1>" 	LOC = P115;
NET "vram_data<2>" 	LOC = P116;
NET "vram_data<3>" 	LOC = P117;
NET "vram_data<4>" 	LOC = P118;
NET "vram_data<5>" 	LOC = P119;
NET "vram_data<6>" 	LOC = P120;
NET "vram_data<7>" 	LOC = P121;
